# ============================================
# Postgres
# ============================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=airflow
POSTGRES_PORT=5432

# ============================================
# Airflow
# ============================================
AIRFLOW_EXECUTOR=LocalExecutor
AIRFLOW_FERNET_KEY=change_me_fernet_key
AIRFLOW_DAGS_PAUSED_AT_CREATION=False
AIRFLOW_LOAD_EXAMPLES=False
AIRFLOW_SECRET_KEY=change_me_secret_key
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=FirstName
AIRFLOW_ADMIN_LASTNAME=LastName
AIRFLOW_ADMIN_EMAIL=you@example.com
AIRFLOW_WEBSERVER_EXTERNAL_PORT=8087

# ============================================
# Zookeeper & Kafka
# ============================================
ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000
ZOOKEEPER_SYNC_LIMIT=2
KAFKA_INTERNAL_PORT=29092
KAFKA_EXTERNAL_PORT=9092
KAFKA_BROKER_ID=1
KAFKA_REPLICATION_FACTOR=1
KAFKA_LOG_RETENTION_HOURS=168
KAFKA_LOG_SEGMENT_BYTES=1073741824
KAFKA_UI_EXTERNAL_PORT=8088

# ============================================
# Flink
# ============================================
FLINK_UI_PORT=8081

# ============================================
# MinIO + Iceberg
# ============================================
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
ICEBERG_REST_PORT=8181

# ============================================
# Monitoring
# ============================================
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# ============================================
# RAM limits
# ============================================
POSTGRES_RAM=1g

AIRFLOW_WEBSERVER_RAM=2g
AIRFLOW_SCHEDULER_RAM=1.5g

ZOOKEEPER_RAM=512m
KAFKA_RAM=2g
KAFKA_UI_RAM=512m

FLINK_JOBMANAGER_RAM=1g
FLINK_TASKMANAGER_RAM=2g

MINIO_RAM=1g
ICEBERG_RAM=512m

DBT_RAM=512m

PROMETHEUS_RAM=512m
GRAFANA_RAM=512m